.movieContainer {
  padding: 20px 20px;
}

.movieInfo {
  display: flex;
  gap: 20px;
}

.movieInfoContainer {
  max-width: 300px;
}

.image {
  width: 300px;
  height: 450px;
}

.reviewsSection {
  margin-top: 50px;
  overflow-x: auto;
  height: 390px;
}

.review {
  margin-bottom: 15px;
  padding: 10px;
}

.reviewForm {
  margin-left: 200px;
  height: 400px;
  overflow-x: auto;
}
