.image {
  height: 500px;
  width: 400px;
}

.card {
  height: 750px;
  width: 400px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: black;
}

.cardContainer {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 120px;
  justify-content: center;
}
